<<div class="wrapper" style="background-image: url('static/img/bg-registration-form-2.jpg');">
  <div class="inner">
    <form id="sr-form" action="{{action}}" method="{{method}}">
      <h3>Service Request Form</h3>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="title">Title:</label>
          <input type="text" id="title"  class="form-control" name="title" value="{{sr.firstName}}" placeholder="Title of the Service Request " required />
        </div>
        <div class="form-wrapper">
          <label for="duedate">Due Date:</label>
          <input type="text" id="ddate"  class="form-control" name="dueDate" value="{{sr.lastName}}" placeholder="Due Date" required />
        </div>
      </div>
      <div class="form-wrapper">
        <label for="type">Level:</label>
        <select id="type"  class="form-control" name="type">
          <option value="level-1" {{#if (ifEquality sr.type "level-1")}}selected{{/if}}>Level 1</option>
          <option value="level-2" {{#if (ifEquality sr.type "level-2")}}selected{{/if}}>Level 2</option>
          <option value="level-3" {{#if (ifEquality sr.type "level-3")}}selected{{/if}}>Level 3</option>
        </select>
      </div>
      <div class="form-wrapper">
        <label for="status">Status:</label>
        <select class="form-control" name="status" id="status">
          <option value="New" {{#if (ifEquality sr.status "Open")}}selected{{/if}}>Open</option>
          <option value="Confirmed" {{#if (ifEquality sr.status "In Progress")}}selected{{/if}}>In Progress</option>
          <option value="Lost" {{#if (ifEquality sr.status "Lost")}}selected{{/if}}>Created</option>
          <option value="Contacted" {{#if (ifEquality sr.status "Realeased")}}selected{{/if}}>Realeased</option>
          <option value="Cancelled" {{#if (ifEquality sr.status "Cancelled")}}selected{{/if}}>Cancelled</option>
          <option value="Qualified" {{#if (ifEquality sr.status "Completed")}}selected{{/if}}>Completed</option>
        </select>
      </div>
    <button>{{btnName}}</button>
    </form>
  </div>
</div>

<script>
  const $addSrForm = document.querySelector("#sr-form");

  $addSrForm.addEventListener("submit", event => {
    event.preventDefault();

    const submitUrl = $addSrForm.action;
    const submitMethod = $addSrForm.getAttribute("_method");
    const formData = new FormData($addStudentForm);
    let srDetail = {};
    for (const fields of formData.entries()) {
      const [key, value] = fields;
      srDetail[key] = value;
    }

    const config = {
      method: submitMethod.toUpperCase(),
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(srDetail)
    }

    fetch(submitUrl, config)
      .then(response => {
        if (response.status === 200) {
          return response.json()
        } else {
          throw (new Error(response.status))
        }
      })
      .then(data => {
        alert(data.message);
        window.location.href = "/dashboard"
      })
     .catch(error => {
        switch (error.message) {
          case "400":
            alert("Please check form values...");
            break;
          case "500":
            alert("Please Try after some time...");
            break;
          default:
            console.error(error);
        }
      }) 
  });
</script>